@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  border: none;
}
.cearfix {
  zoom: 1;
}
.cearfix:after {
  content: "";
  display: block;
  clear: both;
}
